/* styles/Formation.css */

/* Container global */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
  
}

/* Colonne gauche */
.left-column {
  flex: 1;
  padding: 20px;
  margin-top: 50px;
}

/* Colonne droite */
.right-column {
  flex: 2;
  width: 200px;
  height: 400px;
}

.formation-image {
  width: 100%; 
  height: 150px;
  object-fit: cover; 
  border-radius: 5px; 
}

/* Grille des formations sélectionnées */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* Bloque chaque formation */
.formation-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  height: 300px;
  background-color:white;
  margin-top: 150px;
  padding: 15%;

}

/* Taille et centrage de l'image */
.formation-image {
  max-width: 80%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Titre de la formation */
.formation-block h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}


.stars {
  font-size: 20px;
  color: #FFD700;
}

.star.filled {
  color: #FFD700;
}

.star.empty {
  color: #ccc;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left-column, .right-column {
    flex: none;
    width: 100%;
    padding: 10px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .formation-block {
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .stars {
    font-size: 16px;
  }

  .formation-image {
    max-width: 80%;
  }
}
